@model MusicWeb.Models.Nhac

@{
    ViewBag.Title = "Themmoibaihat";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Mới Bài Hát</h2>

@using (Html.BeginForm("Themmoibaihat", "Admin", FormMethod.Post, new { @enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bài Hát</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <td>
                Tên Bài Hát:
            </td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNhac)
                @Html.ValidationMessageFor(model => model.TenNhac)
            </div>
        </div>
        <div class="form-group">
            <td>
                Ngày Cập Nhật:
            </td>
            <div class="col-md-10">
                <input type="date" name="NgayCN" value="" />
                @Html.ValidationMessageFor(model => model.NgayCN)
            </div>
        </div>
        <div class="form-group">
            <td>
                Nghệ Sĩ:
            </td>
            <div class="col-md-10">
                @Html.DropDownList("MaNgheSi")
            </div>
        </div>
        <div class="form-group">
            <td>
                Loại Nhạc:
            </td>
            <div class="col-md-10">
                @Html.DropDownList("MaLoai")
            </div>
        </div>
        <div class="form-group">
            <td>
                Tác Giả:
            </td>
            <div class="col-md-10">
                @Html.DropDownList("MaSangTac")
            </div>
        </div>
        <div class="form-group">
            <td>
                Album:
            </td>
            <div class="col-md-10">
                @Html.DropDownList("MaAlbum")
            </div>
        </div>
        <div class="form-group">
            <td>
                File Ảnh:
            </td>
            <div class="col-md-10">
                <input type="file" name="fileAnh" id="fileAnh" />
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <td>
                File Nhạc:
            </td>
            <div class="col-md-10">
                <input type="file" name="fileNhac"  id="fileNhac"  />
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p> </p>
                <input type="submit" value="Create" class="btn btn-danger" />
                <a class="btn btn-info" href="@Url.Action("Nhac", "Admin")">Quay về danh sách nhạc</a>
            </div>
        </div>
    </div>
}

