@model MusicWeb.Models.Album

@{
    ViewBag.Title = "ThemAlbum";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm Album</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <td>
                Tên Album:
            </td>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenAlbum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenAlbum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p> </p>
                <input type="submit" value="Create" class="btn btn-danger" />
                <a class="btn btn-info" href="@Url.Action("DSAlbum", "Admin")">Quay về danh sách Album</a>
            </div>
        </div>
    </div>
}

