@model MusicWeb.Models.User

@{
    ViewBag.Title = "XoaUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN XÓA DANH SÁCH USER</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã User:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaUser)
        </dd>
        <dt>
            Tên User:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenUser)
        </dd>

        <dt>
            Tài Khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            Mật Khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác Nhận" class="btn btn-default" /> |
            @Html.ActionLink("Quay Lại", "DSUser")
        </div>
    }
</div>
